<template>
  <div class="about">
    <h1>A tool for tracking bugs</h1>
  </div>
</template>



<style>
div.about {
  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  top: 30px;
}
</style>
