<template>
  <div id="app">

    <br>
<!--<p>Bug-Tracker</p>-->
    <div id = "login" v-show="!this.disablelogin">
    <Login></Login>
    </div>

    <div id ="signup" v-show=this.disablelogin>
      <signup></signup>

    </div>
    <button2 pointer type="button" @click="this.disablelogin = (this.disablelogin ? false : true)" >{{ this.disablelogin ? "Login" : "Create Account" }}</button2>

    <!--<button2 pointer type="button" @click="loginClick()" >Login</button2>-->

  </div>
</template>

<script>

// @ is an alias to /src

import Login from '@/components/Login.vue'
import signup from '@/components/signup.vue'
import {useRoute, useRouter} from "vue-router";
import {onBeforeMount} from "vue";
import firebase from "firebase";
//import {loginsys} from "../utils/auth";




export default {
  setup () {
    const router = useRouter();
    const route = useRoute();


    onBeforeMount(() => {
      firebase.auth().onAuthStateChanged((user) => {
        if (!user) {
          router.replace('/')
        } else if (route.path == '/') {
          router.replace('/Main')
        }

      })
    })
  },
  name: "App",
  methods: {
    //loginClick(){
      //loginsys();
    //}
  },
  data() {
    return {
      disablelogin: false
    }
  },
  components: {
    Login,
    signup
  }
};
</script>


<style>

p {
  color: #2c3e50;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;

}

button2 {

  transition-duration: 0.4s;
  background-color: white;
  color: #42b983;
  border: 2px solid #42b983;
  border-radius: 4px;
  width: 50%;
  padding: 10px 25px;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #42b983;
  color: white;
}

button1:hover {
  background-color: #42b983;
  color: white;
}
button2:hover {
  background-color: #42b983;
  color: white;
}


template {

}



</style>
