<template>
  <div class="Main">
    <button class="logout" @click="logout" >Logout</button>
    <h1>Welcome, {{ name }}</h1>
    <br>

  </div>
  <charts msg="TestPage"/>

</template>

<script>
import charts from '@/components/charts.vue'
import firebase from "firebase";
import { ref, onBeforeMount} from "vue";
import {useRoute, useRouter} from "vue-router";


export default {

  name: "App",
  setup () {
    const router = useRouter();
    const route = useRoute();

    onBeforeMount(() => {
      firebase.auth().onAuthStateChanged((user) => {
        if (!user) {
          router.replace('/')
        } else if (route.path == '/') {
          router.replace('/Main')
        }
      })
    })

const name = ref("");

onBeforeMount(() => {
  const user = firebase.auth().currentUser;
  if(user){
    name.value = user.email.split('@')[0];
  }
});

const logout = () => {
firebase.auth().signOut().catch(err => alert(err.message));
}

return {
  name,
logout
}


  },

  data() {
    return {

    }
  },
  components: {
    charts
  }
};

</script>

<style scoped>
div.Main {
  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  top: 30px;
}
</style>
