<template>
  <div class="Login">
    <form @submit.prevent="Login">
      <p1>Login</p1>
      <br>
      <p2>{{ msg }}</p2>
      <br>
      <label>Username:</label>
      <input required v-model="username">

      <label>Password:</label>
      <input :type ="show ? 'text' : 'password'" id="password" required v-model="password">

      <button type="submit" @click="this.submit(this.username, this.password)" >Submit</button>


      <button1 pointer type="button" @click="this.show = (this.show ? false : true)" >{{ this.show ? 'Hide' : 'Show' }}</button1>





    </form>

  </div>

  <a>Forgotten your password? Click </a>
  <button4 type="button" @click="reset(username)" >here</button4>

  <br>

  <p2>New to this site?  </p2>


</template>

<script>
import firebase from "firebase";





//import axios from 'axios'

export default {
  name: "Login",

  data() {
    return {
      username: '',
      password: '',
      msg: localStorage.storedMsg,
      show: false
    }
  },


  methods: {
    submit(username, password) {

      firebase.auth().signInWithEmailAndPassword(username, password).then(data => console.log(data)).catch(err => alert(err.message));

      /*if (username === this.nameStored && password === this.passStored) {
        this.msg = ''
        localStorage.storedMsg = this.msg;
        window.open('/Main');
        window.close()
      } else if(password === '' && username === '')
      {
        this.msg = 'No username or password entered'
        localStorage.storedMsg = this.msg;
      }else if(username === ''){
        this.msg = 'No username entered'
        localStorage.storedMsg = this.msg;
      }else if(password === ''){
        this.msg = 'No password entered'
        localStorage.storedMsg = this.msg;
      }else{
        this.msg = 'Incorrect login details'
        localStorage.storedMsg = this.msg;
        event.preventDefault();
      }
    */
    },

    reset(email) {
      firebase.auth().sendPasswordResetEmail(email)
    },


    watch: {},

  }
}



/*axios.post('http://localhost:8080', this.username)
.then(
    res => {
      console.log(res)
    }
).catch(
    err => {
      console.log(err)
    }

)*/



</script>



<style scoped>

div.Login {
  margin: 4em auto;
  max-width: 420px;
  background: white;
  text-align: initial;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid #42b983;
}

label {
  color: #2c3e50;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}


input, select {
  display: flex;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #2c3e50;
  color: #42b983;
}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: #42b983;
  border: 2px solid #42b983;
  border-radius: 4px;
  width: 50%;
  padding: 12px 20px;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  left: 25%;
  top: 40px;
  cursor: pointer;
}

button1 {
  display: inline-block;

  float: right;
  background-color:transparent;
  border:0;

  cursor: pointer;
}

button2 {

  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;

  background-color:transparent;
  border:0;

  cursor: pointer;
}


button4 {

  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;

  background-color:transparent;
  border:0;

  cursor: pointer;
}


button:hover {
  background-color: #42b983;
  color: white;
}

button1:hover {
  background-color: #42b983;
  color: white;
}

p1 {
  color: #2c3e50;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;
}

p2, a {
  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;
}

</style>
