<template>
<div class="settings">

  <h1>Settings</h1>
  <buttondarkmode pointer type="button" @click="this.show = (this.show ? false : true)" >Dark Mode</buttondarkmode>
</div>
</template>

<script>
export default {
  name: "Settings"
}
</script>

<style scoped>
div.settings {
  margin: 0em auto;
  max-width: 220px;
  background: white;
  text-align: center;
  padding: 30px;
  border-radius: 0px;
  border: 2px solid #42b983;
  float: right;


}

buttondarkmode {
  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: inline;
  transition-duration: 0.4s;
  background-color: white;
  color: #42b983;
  border: 2px solid #42b983;
  border-radius: 4px;
  width: 50%;
  padding: 8px 25px;
  font-size: 16px;
  left: 25%;
  top: 40px;
  cursor: pointer;
  position: center;

}

buttondarkmode:hover {
  background-color: #42b983;
  color: white;
}

</style>
