<template>
  <div class="Login">
    <form>
      <p1>Create Account</p1>
      <br>
      <p2>{{ msg2 }}</p2>
      <br>
      <label>Name:</label>
      <input required v-model="name">

      <label>Email:</label>
      <input required v-model="email">

      <label>Password:</label>
      <input :type ="show ? 'text' : 'password'" id="password" required v-model="password">

      <button1 pointer type="button" @click="this.show = (this.show ? false : true)" >{{ this.show ? 'Hide' : 'Show' }}</button1>

      <label>Confirm Password:</label>
      <input :type ="show2 ? 'text' : 'password'" id="password2" required v-model="password2">
      <button1 pointer type="button" @click="this.show2 = (this.show2 ? false : true)" >{{ this.show2 ? 'Hide' : 'Show' }}</button1>

      <button type="submit" @click="this.submit(this.name, this.email, this.password, this.password2)" >Submit</button>







    </form>

  </div>
  <p2>Already a member?  </p2>
</template>

<script>
import firebase from "firebase";

//import axios from 'axios'

export default {
  name: "Login",
  data(){
    return{
      name: '',
      email: '',
      password: '',
      password2: '',
      msg2: localStorage.storedMsg2,
      show: false,
      show2: false
    }
  },
  methods : {
    submit(name, email, password, password2) {

      if(name === ''){
        this.msg2 = 'No name entered'
        localStorage.storedMsg2 = this.msg2;
      }else if(email === ''){
        this.msg2 = 'No email entered'
        localStorage.storedMsg2 = this.msg2;
      }else if(password === ''){
        this.msg2 = 'No password entered'
        localStorage.storedMsg2 = this.msg2;
      }else if(password2 === ''){
        this.msg2 = 'You need to confirm the password';
        localStorage.storedMsg2 = this.msg2;
      }else if(password != password2){
        this.msg2 = 'Passwords do not match'
        localStorage.storedMsg2 = this.msg2;
        event.preventDefault();
      }else if(this.password.length < 6) {
        this.msg2 = 'Password does not meet requirements: ' +
            'at least 6 characters and one number'
        localStorage.storedMsg2 = this.msg2;
        event.preventDefault();
      }else {
        this.msg2 = ''
        localStorage.storedMsg2 = this.msg2;
        firebase.auth().createUserWithEmailAndPassword(email, password).then(user => {
          alert(user);
        }).catch(err => alert(err.message));
      }

    return {
      email,
      password
    }

    }





  },
  watch: {

  },



}

/*axios.post('http://localhost:8080', this.username)
.then(
    res => {
      console.log(res)
    }
).catch(
    err => {
      console.log(err)
    }

)*/

</script>



<style scoped>

div.Login {
  margin: 4em auto;
  max-width: 420px;
  background: white;
  text-align: initial;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid #42b983;
}

label {
  color: #2c3e50;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}


input, select {
  display: flex;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #2c3e50;
  color: #42b983;
}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: #42b983;
  border: 2px solid #42b983;
  border-radius: 4px;
  width: 50%;
  padding: 12px 20px;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  left: 25%;
  top: 40px;
  cursor: pointer;
}

button1 {
  display: inline-block;

  float: right;
  background-color:transparent;
  border:0;

  cursor: pointer;
}

button2 {

  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;

  background-color:transparent;
  border:0;

  cursor: pointer;
}


button:hover {
  background-color: #42b983;
  color: white;
}

button1:hover {
  background-color: #42b983;
  color: white;
}

p1 {
  color: #2c3e50;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;
}

p2, a {
  color: #2c3e50;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  display: block;
}

</style>
