<template>

  <div id="nav">

    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/Main">Main</router-link>
    <!--<img alt="Vue logo" src="./assets/logo.png">-->
    <button type="button" @click="this.openSettings = this.openSettings ? false : true" ></button>
  </div>

  <div v-show="openSettings">
  <Settings></Settings>
  </div>

  <router-view />


  <div class="footer">
    <h1> / </h1>
  </div>
</template>

<script>
import {onBeforeMount} from 'vue';
import Settings from '@/components/Settings.vue'
import { useRouter, useRoute } from 'vue-router'
import firebase from "firebase";

export default {
  setup () {
    const router = useRouter();
    const route = useRoute();

    onBeforeMount(() => {
      firebase.auth().onAuthStateChanged((user) => {
        if (!user) {
          router.replace('/')
        } else if (route.path == '/') {
          router.replace('/Main')
        }
      })
    })
    },

  name: "App",
  data() {
    return {
openSettings: false
    }
  },
  components: {
    Settings,

  }
};

window.onload = function() {
  document.body.className += " loaded";
}


</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/*img {
  position: absolute;
  top: -80px;
  width: 120px;
  left: 10px;
}*/

/*body.loaded img {
  transform: translateY(80%);
  transition: transform 1s;

}*/

#nav {
  padding: 30px;
  overflow: hidden;
  background-color: deepskyblue;
  padding: 20px 10px;

}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #FFFFFF;
}

.footer {
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: deepskyblue;
  color: white;
  text-align: center;

}

settings {
  text-align: right;
  text-anchor: end;
}




</style>


<style scoped>
button {
  background-image: url(
  './assets/settingsicon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  font-size: 10px;
  border: 0px;
  background-color: Transparent;
  float: right;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0px;
}

button:hover {
  background-color: Transparent;
  transform: rotate(-10deg);
  width: 40px;
  height: 40px;
}

settings {

}

</style>
